.drop-menu {
  position: absolute;
  background-color: #111;
  width: 100%;
  bottom: 0;
  z-index: -1;
  min-height: 0px;
  max-height: calc(100% - 150px);
  overflow-y: auto;
  padding-bottom: 20px;
}

.shadow {
  background: rgba(17, 17, 17, 0.8);
  width: 100%;
  height: 50px;
  position: fixed;
  bottom: -12px;
  left: 0;
  right: 0;
  box-shadow: 0px -15px 40px rgba(17, 17, 17, 0.8);
}