#radio-filter {
  tr {
    &:hover {
      cursor: auto;
    }

    td,
    th {
      width: 33.3%;
      display: table-cell;
      vertical-align: middle;
    }
  }

  .select {
    margin: 0 auto;
  }
}
