<form [formGroup]="form">
  <table id="radio-filter" [ngStyle]="{'width': '100%'}" [ngClass]="{
    'table': true,
    'filter': true,
    'light-theme': lightTheme
  }">
    <tr class="tr-head" [ngStyle]="{'height': '50px'}" >
      <th>Country</th>
      <th>Genre</th>
      <th>Theme</th>
    </tr>
    <tr class="tr">
      <td>
        <select name="select" class="select" (change)="onChange()" formControlName="country">
          <option *ngFor="let country of playerS.country" [value]="country.country_2_letterCode">
            {{country.name}}
          </option>
        </select>
      </td>
      <td>
        <select name="select" class="select" (change)="onGenre()" formControlName="genre">
          <option value="ALL" [selected]="true" #genreOptionAll>All</option>
          <option *ngFor="let genre of playerS.genre" [value]="genre.genreName">{{genre.genreName}}</option>
        </select>
      </td>
      <td>
        <div class="btn-block">
          <button class="theme-btn" (click)="onDarkTheme()">dark</button>
          <button class="theme-btn" (click)="onLightTheme()">light</button>
        </div>
      </td>
    </tr>
  </table>
</form>