#radio-filter {

  tr {
    &:hover {
      cursor: auto;
    }

    td,
    th {
      width: 33.3%;
      display: table-cell;
      vertical-align: middle;
    }
  }

  .select {
    margin: 0 auto;
  }

  .btn-block {
    button:nth-child(1) {
      margin-right: 5px;
    }
  }


  .radio-search {

    input {
      width: 98% !important;
      position: relative;
      left: -3px;
    }
  }
}


@media screen and (max-width: 700px) {
  .btn-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px 0;

    button:nth-child(1) {
      margin-bottom: 5px;
      margin-right: 0 !important;
    }
  }
}
