.player {
  background: none;
  text-align: center;
  font-family: FontAwesome;
  color: #fff;
  font-size: 26px;
  line-height: 26px;
  width: 216px;
  height: 35px;
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 10;
  transition: all 0.3s ease-in;
  border-spacing: 0;

  td{
    width: 72px;
  }
}

.play:hover,
.forward:hover:before,
.backward:hover:before{
  color: #bbb;
  transition: all 0.15s linear;
}

.play,
.forward:before,
.backward:before{
  cursor: pointer;
  z-index: 100;
  transition: all 0.15s linear;
}

.backward:before {
  content: "\f04a";
}

.forward:before {
  content: "\f04e";
}