<table class="player" [@player-control]="playerS.animatePlayerGetListRadio">
  <td>
    <label class="backward" for="backward"></label>
    <input type="checkbox" id="backward" class="hiden" />
  </td>
  <td>
    <fa-icon [icon]="faPlay" class="play" *ngIf="false; else stop"></fa-icon>
    <ng-template #stop>
      <fa-icon [icon]="faStop" class="play"></fa-icon>
    </ng-template>
  </td>
  <td>
    <input type="checkbox" id="forward" class="hiden" />
    <label class="forward" for="forward"></label>
  </td>
</table>
