<app-navbar></app-navbar>
<app-loader [load]="loadS.player"></app-loader>
<article class="screen" [@menu-ul]="playerS.animatePlayerGetListRadio">

  <div class="cover-img" [@disk]="playerS.animatePlayerGetListRadio">
    <div class="cover-img__relative">
      <img src="assets/player/disk.png" alt="">
      <div class="cover-img__relative-dinamic-color">
        <div class="cover-img__relative-center-static"></div>
      </div>
    </div>
  </div>

  <app-drop-menu [radios]="playerS.radios"></app-drop-menu>

  <div class="info" [@info]="playerS.animatePlayerGetListRadio" [ngStyle]="{'text-align': 'center'}">
    <h4 [@info-title-text]="playerS.animatePlayerGetListRadio">{{playerS.radio.radioName}}</h4>
    <div class="error-message">
      <h4 [ngStyle]="{'color': '#ff564c','text-align': 'center', 'margin': '0px'}">{{playerS.$error | async}}</h4>
    </div>

    <!-- 
      ! API doesn't give some data about music
     -->
    <!-- <h3>MUSIC NAME</h3> -->
  </div>

  <audio [src]="playerS.radio.streamURL" preload="auto" id="audio" autoplay controls #audio></audio>
  <app-player-control></app-player-control>

  <div class="current" [@current]="playerS.animatePlayerGetListRadio">
    <h2>Radio By KochuTok</h2>
  </div>

  <app-player-control></app-player-control>
</article>
