.screen {
  padding: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.4);
  overflow: hidden;
}

.cover-img {
  width: 100%;
  height: 100%;
  min-width: 200px;
  min-height: 200px;
  max-width: 360px;
  max-height: 360px;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, 0);
  transform-origin: 0 0;
  transition: all 0.3s ease-in;
  border-radius: 50%;

  &__relative {
    width: 100%;
    height: 100%;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      z-index: 2;
      animation: 5s rotade linear infinite;
    }
  }
}

.info {
  width: 157px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  transition: all 0.3s ease-in;

  h4 {
    margin: 0;
  }
}

.current {
  position: absolute;
  right: 23px;
  bottom: -60px;
  transition: all 0.3s ease-in;
}

.mixer {
  position: absolute;
  z-index: 2;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%);
}

@keyframes rotade {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 360px) {
  .cover-img__relative img {
    width: 100vw;
    height: 100vw;
  }

  .cover-img__relative-dinamic-color {
    width: calc(100vw - 10px);
    height: calc(100vw - 10px);
  }
}
