// TODO: THUMB
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #ff564c;
  height: 25px;
  width: 10px;
  border-radius: 3px;
  background: #ff564c;
  cursor: pointer;
  margin-top: -11px;
  box-shadow: 1px 1px 1px #ff564c,
    0px 0px 1px #0d0d0d;
}

input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #ff564c, 0px 0px 1px #ff564c;
  border: 1px solid #ff564c;
  height: 25px;
  width: 10px;
  border-radius: 3px;
  background: #ff564c;
  cursor: pointer;
}

input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #ff564c,
    0px 0px 1px #ff564c;
  border: 1px solid #ff564c;
  height: 25px;
  width: 10px;
  border-radius: 3px;
  background: #ff564c;
  cursor: pointer;
}

// TODO: TRACK
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #fff,
    0px 0px 1px #fff;
  background: #fff;
  border-radius: 1.3px;
  border: 0.2px solid #fff;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #fff;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #fff,
    0px 0px 1px #fff;
  background: #fff;
  border-radius: 1.3px;
  border: 0.2px solid #fff;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background: #fff;
  border: 0.2px solid #fff;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #fff,
    0px 0px 1px #fff;
}

input[type=range]:focus::-ms-fill-lower {
  background: #fff;
}

input[type=range]::-ms-fill-upper {
  background: #fff;
  border: 0.2px solid #fff;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #fff,
    0px 0px 1px #fff;
}

input[type=range]:focus::-ms-fill-upper {
  background: #fff;
}

.volume_icon {
  color: #fff !important;
  font-size: 20px;
}

.light-mixer-content {
  display: flex;
  align-items: center;
  width: 180px;
  justify-content: space-between;
}
