/* You can add global styles to this file, and also import other style files */
$black: #111;
$light: #EDD895;
$dark-color-font: #EDD895;
$light-color-font: #4E916F;

@import './global-styles/reset-style.scss';
@import './global-styles/toastr.scss';
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css';

html,
body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: $black;
  color: $light;
}

@keyframes harlem {
  0% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
  }

  20% {
    transform: scale(1.03, 1);
    -webkit-transform: scale(1.03, 1);
    -moz-transform: scale(1.03, 1);
    -o-transform: scale(1.03, 1);
    -ms-transform: scale(1.03, 1);
  }

  40% {
    transform: scale(0.97, 1);
    -webkit-transform: scale(0.97, 1);
    -moz-transform: scale(0.97, 1);
    -o-transform: scale(0.97, 1);
    -ms-transform: scale(0.97, 1);
  }

  60% {
    transform: scale(1.01, 1);
    -webkit-transform: scale(1.01, 1);
    -moz-transform: scale(1.01, 1);
    -o-transform: scale(1.01, 1);
    -ms-transform: scale(1.01, 1);
  }

  80% {
    transform: scale(0.99, 1);
    -webkit-transform: scale(0.99, 1);
    -moz-transform: scale(0.99, 1);
    -o-transform: scale(0.99, 1);
    -ms-transform: scale(0.99, 1);
  }

  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
  }
}

h2 {
  margin: 0;
  padding: 0;
  font-size: 10px;
  line-height: 10px;
  letter-spacing: 2.5px;
  font-family: 'Open Sans';
  font-weight: 700;
  color: #fff;
}

h3 {
  margin: 0;
  padding: 0;
  font-size: 11px;
  line-height: 11px;
  font-family: 'Open Sans';
  font-weight: 400;
  color: #777;
}

h4 {
  margin: 0 0 5px 29px;
  padding: 0;
  font-size: 14px;
  line-height: 14px;
  font-family: 'Open Sans';
  font-weight: 700;
  color: #fff;
}

h5 {
  margin: 0;
  padding: 0;
  font-size: 13px;
  line-height: 13px;
  font-family: 'Open Sans';
  font-weight: 700;
  color: #6d6d6d;
}

h6 {
  margin: 0;
  padding: 0;
  font-size: 13px;
  line-height: 13px;
  font-family: 'Open Sans';
  font-weight: 700;
  color: #f0f0f0;
}

input[type=checkbox].hiden {
  visibility: hidden;
  margin: 0;
  padding: 0;
  z-index: 10;
}

audio {
  display: none;
}

.select {
  display: block;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 700;
  color: #444;
  line-height: 1.3;
  padding: .6em 1.4em .5em .8em;
  width: 100%;
  max-width: 150px;
  box-sizing: border-box;
  margin: 0;
  border: 1px solid #aaa;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, .04);
  border-radius: .5em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'), linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
  background-repeat: no-repeat, repeat;
  background-position: right .7em top 50%, 0 0;
  background-size: .65em auto, 100%;
}

.select::-ms-expand {
  display: none;
}

.select:hover {
  border-color: #888;
}

.select:focus {
  border-color: #aaa;
  box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: #222;
  outline: none;
}

.select option {
  font-weight: normal;
}

*[dir="rtl"] .select,
:root:lang(ar) .select,
:root:lang(iw) .select {
  background-position: left .7em top 50%, 0 0;
  // padding: .6em .8em .5em 1.4em;
}

button {
  text-decoration: none;
  min-width: 100px;
  outline: none;
  display: inline-block;
  padding: 10px 15px;
  position: relative;
  color: white;
  border: 1px solid rgba(255, 255, 255, .4);
  background: none;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2px;
}

button:before,
button:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  box-sizing: border-box;
}

button:before {
  bottom: 0;
  left: 0;
  border-left: 1px solid #fff;
  border-top: 1px solid #fff;
  transition: 0s ease opacity .8s, .2s ease width .4s, .2s ease height .6s;
}

button:after {
  top: 0;
  right: 0;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  transition: 0s ease opacity .4s, .2s ease width, .2s ease height .2s;
}

button:hover:before,
button:hover:after {
  height: 100%;
  width: 100%;
  opacity: 1;
}

button:hover:before {
  transition: 0s ease opacity 0s, .2s ease height, .2s ease width .2s;
}

button:hover:after {
  transition: 0s ease opacity .4s, .2s ease height .4s, .2s ease width .6s;
}

button:hover {
  background: #ff564c;
  cursor: pointer;
}

.table {
  background-color: #111;
  width: inherit;
  border-collapse: collapse;
  border: 15px solid #111;
  width: 100%;
}

.tr-head {
  transform-origin: 0% 50%;
  text-align: center;
  background: #ff564c;
  color: #111;
  text-indent: 8px;
  border: 5px solid #111;
  line-height: 50px;
}

.tr {
  transform-origin: 0% 50%;
  transition: all 0.5s ease-in;
  text-align: center;
  background: #1d1d1d;
  text-indent: 8px;
  border: 5px solid #111;
  line-height: 50px;

  &:hover {
    background: #222;
    cursor: pointer;
    color: #ff564c;
  }
}

input[type=range] {
  -webkit-appearance: none;
  width: 150px;
  background: transparent;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

.light-theme {
  background-color: #FFE6F3;

  .filter {
    tr {
      &:hover {
        background-color: #FFE7E6;
      }
    }
  }

  .theme-btn {
    background-color: #AD00FF;
  }

  tr {
    background-color: #FFE7E6;

    &:hover {
      background-color: #f8afff;
      color: red;
    }
  }

  table {
    border: 15px solid #5c677d;
  }


  th {
    color: #111;
    background-color: #ff6b6c;
  }

  td {
    color: #4D0028;
  }

  .forward,
  .play,
  .backward {
    color: #AD00FF;
  }

  .shadow {
    background-color: #ffffff;
  }

  .cover-img__relative-dinamic-color {
    background-color: red !important;
  }
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
